li {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	background-color: red;
	transition: width 2s, height 4s ;
	list-style-type:none;
}

li:hover {
	height: 200px;
	width: 300px;
	background-color: green;
}
a{
	color: black;
	text-decoration: none;
}
li:hover > a{
	color: blue;
}