#container {
	height: 500px;
	width: 200px;
	border: 1px solid black;
	padding: 3px;
	
}

.c1 {
	border-bottom: 6px solid black;
	line-height: 1px;

}

h1 {
	font-size: 90%;
}

p {
	font-size: 80%;
}

.c2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid black;
	margin-bottom: 0px;	
}
.c2 > p{
	font-size: 50%;
	margin: 0px;
}
#cal {
	border-bottom: 2px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
}
#cal>div>p{
	margin:0px;
	font-size: 50%;
}
#cal>div{
	display: flex;
	justify-content: space-between;
}
#cal2{
	border-top: 1px solid grey;
}
