#container {
	height: 500px;
	width: 200px;
	border: 1px solid black;
	padding: 3px;
	
}

.c1 {
	border-bottom: 6px solid black;
	line-height: 1px;

}

.c1 > h1 {
	font-size: 100%;
}

p {
	font-size: 80%
}

.c2 > p {
	font-size: 50%

}

.c2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid black;

	
}

.cal {
	margin: 0px;
	line-height: 1px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid black;
	font-size: 50%
	
}



.c2 > p{
	font-size: 50%;
	margin: 0px;
}
#cal {
	border-bottom: 2px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
}
#cal>div>p{
	margin:0px;
	font-size: 50%;
}
#cal>div{
	display: flex;
	justify-content: space-between;
}
#cal2{
	border-top: 1px solid grey;

}


.DV {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid black;
	margin: 0px
}

.DV > p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 50%;
}

.fat {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
}

.fat > p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 50%;
}

